{% extends "ModeloBundle::layout.html.twig" %}
{% block content %}

    {% if is_granted('ROLE_USER') %}
        <strong>
            Estas logueado como USUARIO
        <strong>
    {% endif %}
    
    {% if is_granted('ROLE_ADMIN') %}
        <strong>
            Estas logueado como ADMINISTRADOR
        <strong>
    {% endif %}
            
    <div class="col-lg-4">
        <h2>Identificate</h2>
        <hr/>
        <form action="{{path("login_check")}}" method="post">
            <label>Email:</label>
            <input type="email" id="username" name="_username" value="{{ last_username }}" class="form-control"></input>
            <br/>
            <label>Contraseña:</label>
            <input type="password" id="password" name="_password" class="form-control"></input>
            <br/>
            <input type="submit" value="Entrar" class="btn btn-success"></input>
            <input type="hidden" name="_target_path" value="/login"></input>
        </form>
    </div>

    <div class="clearfix"></div>
{% endblock %}